{% extends 'myApp/base.html' %}
{% load static %}
{% load image_tags %}
{% block title %}Home{% endblock %}

{% block content %}
<head>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">

</head>
{% load static %}


<style>
    .business-section {
        padding: 50px 0;
        background-color: #f9f9f9;
    }
    
    .business-image img {
        border-radius: 8px;
        max-width: 100%;
        height: auto;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    }
    
    .business-content {
        text-align: left;
        padding: 20px;
    }
    
    .business-content h2 {
        font-size: 32px;
        font-weight: 600;
        margin-bottom: 20px;
        line-height: 1.4;
    }
    
    .business-content p {
        font-size: 18px;
        margin-bottom: 30px;
        color: #555;
    }
    
    .business-btn {
        display: inline-block;
        padding: 12px 24px;
        background-color: #ececec;
        border: none;
        border-radius: 30px;
        color: #333;
        font-size: 16px;
        text-decoration: none;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        transition: background-color 0.3s ease, color 0.3s ease;
    }
    
    .business-btn:hover {
        background-color: #333;
        color: #fff;
    }

    .business-image img {
    width: 100%;
    height: auto;
    border-radius: 60% / 50%; /* Creates an oval shape */
    object-fit: cover;
    max-width: 350px;
    display: block;
    margin: 0 auto;
}

    </style>

<section class="business-section" style="margin-bottom: 20px;">
    <div class="container">
        <div class="row align-items-center">
            <!-- Image Section -->
            <div class="col-lg-6">
                <div class="business-image">
                    <img src="{% webp_image 'assets/images/ingrid/sittingwithlaptop.webp' %}" alt="Coaching for Next Level" class="img-fluid" loading="lazy">
                </div>
            </div>
            <!-- Text Section -->
            <div class="col-lg-6">
                <div class="business-content">
                    <h2>Unlock Your Business Potential</h2>
                    <p>
                        Empowering Businesses to Reach Their Full Potential, Make Strategic Decisions Aligned 
                        with Their Vision, and Cultivate Success That Reflects Their True Values.
                    </p>
                    <a href="https://calendly.com/guidance-for-you/free-30-minute-business-strategy-session" class="business-btn">Let’s connect</a>
                </div>
            </div>
        </div>
    </div>
</section>


{% include 'myApp/testimonials.html' %}

<section class="about-two" style="margin-bottom: 30px;">
    <div class="container">
        <div class="row d-flex justify-content-center align-items-center">
            <div class="col-xl-6">
                <div class="about-two__right">
                    <div class="section-title section-title-two text-left">
                        
                        <h2 class="section-title__title">Business Insight and Guidance</h2>
                    </div>
                    <p class="about-two__text">I can intuitively assess the current state of your business and provide clarity on its direction, whether you’re just starting or looking to improve. By collaborating with me, you’ll gain a clearer perspective on how to advance your business, make confident decisions, and create a thriving environment that supports your goals.
                    </p>
                    <div class="team-details__btn">
                        <a href="contact.html">Let's Elevate Your Business</a>
                    </div>
                    <!--                   
                    <div class="about-two__bottom">
                        <div class="about-two__bottom-text-box">
                            <p>Over 12 years' experience helping individuals unlock their potential and live authentically.</p>
                        </div>
                        <div class="about-two__user-box">
                            <div class="about-two__user-img">
                                <img src="{% webp_image 'assets/images/resources/about-two-user-img.jpg' %}" alt="">
                            </div>
                            <div class="about-two__user-content">
                                <h4 class="about-two__user-name">Jasonia Tim</h4>
                                <p class="about-two__user-sub-title">CEO, Sycho</p>
                            </div>
                        </div>
                    </div>
                    -->
                </div>
            </div>
        </div>
    </div>
</section>

<section class="services-one">
    <div class="services-one__bg">
    </div>
    <div class="container">
        <div class="section-title text-center">
            <span class="section-title__tagline">My Services</span>
            <h2 class="section-title__title">Insights to Advance Your Business</h2>
        </div>
        <div class="row">
            <!-- Services Single Start -->
            <div class="col-xl-4 col-lg-4 wow fadeInUp" data-wow-delay="100ms">
                <div class="services-one__single">
                    <div class="services-one__content">
                        <h3 class="services-one__title"><a href="https://calendly.com/guidance-for-you/free-30-minute-business-strategy-session">Strategic Direction</a></h3>
                        <p class="services-one__text">Gain a clearer perspective on your business trajectory, uncover growth opportunities, and take actionable steps toward success.</p>
                    </div>
                     
                </div>
            </div>
            <!-- Services Single End -->

            <!-- Services Single Start -->
            <div class="col-xl-4 col-lg-4 wow fadeInUp" data-wow-delay="200ms">
                <div class="services-one__single">
                    <div class="services-one__content">
                        <h3 class="services-one__title"><a href="https://calendly.com/guidance-for-you/free-30-minute-business-strategy-session">Team Assessment</a></h3>
                        <p class="services-one__text">Evaluate your team structure and receive guidance on hiring or reassessing team members for better alignment with your goals.</p>
                    </div>
                     
                </div>
            </div>
            <!-- Services Single End -->

            <!-- Services Single Start -->
            <div class="col-xl-4 col-lg-4 wow fadeInUp" data-wow-delay="300ms">
                <div class="services-one__single">
                    <div class="services-one__content">
                        <h3 class="services-one__title"><a href="https://calendly.com/guidance-for-you/free-30-minute-business-strategy-session">Operational Improvement</a></h3>
                        <p class="services-one__text">Optimize operations, streamline processes, and create a collaborative work environment that drives innovation.</p>
                    </div>
                     
                </div>
            </div>
            <!-- Services Single End -->

            <!-- Services Single Start -->
            <div class="col-xl-4 col-lg-4 wow fadeInUp" data-wow-delay="400ms">
                <div class="services-one__single">
                    <div class="services-one__content">
                        <h3 class="services-one__title"><a href="https://calendly.com/guidance-for-you/free-30-minute-business-strategy-session">Overcoming Challenges</a></h3>
                        <p class="services-one__text">Navigate obstacles with actionable solutions and compassionate support tailored to your unique business needs.</p>
                    </div>
                     
                </div>
            </div>
            <!-- Services Single End -->

            <!-- Services Single Start -->
            <div class="col-xl-4 col-lg-4 wow fadeInUp" data-wow-delay="500ms">
                <div class="services-one__single">
                    <div class="services-one__content">
                        <h3 class="services-one__title"><a href="https://calendly.com/guidance-for-you/free-30-minute-business-strategy-session">Vision & Values Alignment</a></h3>
                        <p class="services-one__text">Reconnect with your core vision and values to ensure your strategies align with your true purpose for lasting success.</p>
                    </div>
                     
                </div>
            </div>
            <!-- Services Single End -->
        </div>
    </div>
</section>

<section class="appointments-one">
    <div class="container">
        <div class="appointments-one__inner wow fadeInUp" data-wow-delay="100ms">
            <div class="appointments-one__big-text img-bounce">Insights</div>
            <div class="appointments-one__img">
                 
                <img src="{% webp_image 'assets/images/ingrid/businessinsight.png' %}" alt="Book Insights Session">
            </div>
            <div class="appointments-one__left">
                <div class="appointments-one__icon" style=" background-color: rgba(240, 221, 169, 0.589);;">
                    <span class="fas fa-lightbulb"></span>

                </div>
                <div class="appointments-one__content">
                    <h3 class="appointments-one__title"><a href="https://calendly.com/guidance-for-you/free-30-minute-business-strategy-session">Apply for Business Insights <br> and Guidance.</a></h3>
                </div>
            </div>
            <div class="appointments-one__btn-box">
                <a href="https://calendly.com/guidance-for-you/free-30-minute-business-strategy-session" class="appointments-one__btn thm-btn">Apply Now</a>
            </div>
        </div>
    </div>
</section>


<section class="about-two">
    <div class="container">
        <div class="row d-flex justify-content-center align-items-center">
            <div class="col-xl-6">
                <div class="about-two__right">
                    <div class="section-title section-title-two text-left">
                        
                        <h2 class="section-title__title">Business Coaching for Intuitive Entrepreneurs</h2>
                    </div>
                    <p class="about-two__text">Unlock your potential and elevate your business with personalized coaching tailored to your unique gifts. Together, we’ll navigate the challenges of entrepreneurship, align your vision with your intuition, and create a sustainable strategy for success.
                    </p>
                    <div class="team-details__btn">
                        <a href="https://calendly.com/guidance-for-you/free-30-minute-business-strategy-session">Let's Elevate Your Business</a>
                    </div>
                    <!--                   
                    <div class="about-two__bottom">
                        <div class="about-two__bottom-text-box">
                            <p>Over 12 years' experience helping individuals unlock their potential and live authentically.</p>
                        </div>
                        <div class="about-two__user-box">
                            <div class="about-two__user-img">
                                <img src="{% webp_image 'assets/images/resources/about-two-user-img.jpg' %}" alt="">
                            </div>
                            <div class="about-two__user-content">
                                <h4 class="about-two__user-name">Jasonia Tim</h4>
                                <p class="about-two__user-sub-title">CEO, Sycho</p>
                            </div>
                        </div>
                    </div>
                    -->
                </div>
            </div>
        </div>
    </div>
</section>


{% include 'myApp/sidebar_widget.html' %}
{% endblock %}
